<h1>
	ngx-dynamic-template demo
</h1>

<b>Scenario #1</b><br>
<ng-template dynamic-template
             [template]="'<span style=\'color: orange;\'>This is simple dynamic template</span>'"></ng-template>

<br><b>Scenario #2</b><br>
<ng-template dynamic-template
             [template]="'<lazy-component></lazy-component>'"
             [lazyModules]="['app/lazy/lazy.module#LazyModule']"></ng-template>

<br><b>Scenario #3</b><br>
<ng-template dynamic-template
             [template]="outerTemplate"
             [context]="outerContext"
             [lazyModules]="['app/lazy/lazy.module#LazyModule']"
             [componentModules]="outerDynamicModules"></ng-template>