<h1>
  ngx-dynamic-template demo
</h1>

<b>Scenario #1</b><br>
<template dynamic-component
          [componentContext]="outerDynamicContext"
          [componentModules]="outerDynamicModules"
          [componentTemplate]="outerDynamicTemplate"></template>

Inner dynamic value [this is a part of app template]: {{ outerDynamicContext.innerDynamicContext.value }}<br><br>

<b>Scenario #2</b><br>
<template dynamic-component
          [componentTemplate]="extraTemplate2"
          [componentContext]="context2"></template>
<template dynamic-component
          [componentTemplate]="extraTemplate2"
          [componentContext]="context2"></template><br><br>

<b>Scenario #3</b><br>
<div *ngFor="let i of longArray">
  <template dynamic-component
            [componentTemplate]="extraTemplate2"
            [componentContext]="context2"></template>
</div>
<br>
