<h1>
  ngx-dynamic-template demo
</h1>

<b>Scenario #1</b><br>
<ng-template dynamic-template
          [componentContext]="outerDynamicContext"
          [componentModules]="outerDynamicModules"
          [componentTemplate]="outerDynamicTemplate"></ng-template>

Inner dynamic value [this is a part of app template]: {{ outerDynamicContext.innerDynamicContext.value }}<br><br>

<b>Scenario #2</b><br>
<ng-template dynamic-template
          [componentTemplate]="extraTemplate2"
          [componentContext]="context2"></ng-template>
<ng-template dynamic-template
          [componentTemplate]="extraTemplate2"
          [componentContext]="context2"></ng-template><br><br>

<b>Scenario #3</b><br>
<div *ngFor="let i of longArray">
  <ng-template dynamic-template
            [componentTemplate]="extraTemplate2"
            [componentContext]="context2"></ng-template>
</div>
<br>
